.projects-container{
    padding: 2rem 6rem;
    color: #312e3c;
    background-color: #cbbc99;
}
.project{
    display: flex;
    height: 50vh;
    padding: 2rem;
    gap: 2rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    align-items: center;
    margin-bottom: 3rem;
    /* transform: translateX(-8rem);
    opacity: 0;
    filter: blur(10px); */
}
.project.visible{
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
    transition: all 0.5s ease;
}
.project-image{
    width: 50%;
    height: 100%;
}
.project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-details{
    width: 50%
}
.project-details h1{
    margin-bottom: 2rem;
    font-size: 2rem;
}
.project-details p{
    margin-bottom: 1rem;
}
.project-details P:last-child{
    margin-bottom: 5rem;
}
.project-details a{
    font-size: 1.1rem;
    background-color: #312e3c;
    color: #cbbc99;
    border: none;
    padding: 0.5rem;
    border-radius: 6px;
    text-decoration: none;
}

@media(max-width:1000px){
    .project{
        margin-bottom: 1.5rem;
    }
    .projects-container{
        padding: 2rem;
    }
    .project-details h1{
        font-size: 1.5rem;
    }
    .project-details p{
        font-size: 0.95rem;
    }
}
@media(max-width:700px){
    .project{
        flex-flow: column;
        height: 85vh;
        /* padding-block: 2rem; */
    }
    .project-image{
        width: 100%;
        height: 50%;
    }
    .project-details{
        width: 100%;
        height: 50%;
    }
}
@media(max-width:550px){
    .projects-container{
        padding: 2rem 1rem;
    }
    .project-details h1{
        margin-bottom: 1.3rem;
    }
}
@media(max-width:470px){
    .project{
        height: 90vh;
    }
}