.navbar {
  background-color: #cbbc99;
  color: #312e3c;
  padding: 1rem 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .logo {
  font-size: 3.5rem;
}
.navbar .nav-links {
  display: flex;
  gap: 3rem;
}
.navbar .nav-links a {
  font-size: 1rem;
  color: inherit;
  text-decoration: none;
  letter-spacing: -0.05rem;
}
.navbar .nav-links a.active {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.navbar .hamburger-icon {
  display: none;
}
@media (max-width: 960px) {
  .navbar {
    padding: 1rem 2rem;
  }
}
@media (max-width: 750px) {
    .navbar{
        padding-block: 0.5rem;
        position: relative;
    }
  .navbar .logo {
    font-size: 2rem;
  }
  .navbar .hamburger-icon {
    display: flex;
    width: 35px;
    height: 35px;
    position: relative;
    z-index: 10000;
  }
  .navbar.hamburger-icon svg {
    width: 100%;
    height: 100%;
    fill: #312e3c;
  }
  .navbar .nav-links{
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100vh;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(49, 46, 60, 0.95);
    transform: translateX(-110%);
    transition: all 0.3s ease;
    z-index: 5000;
  }
  .navbar .nav-links.open{
    transform: translateX(0);
  }
  .navbar .nav-links a{
    font-size: 2.5rem;
    color: #cbbc99;
  }
}
