.copyright{
    padding: 2rem;
    text-align: center;
    background-color: #cbbc99;
    color: #312e3c;
}
.copyright p{
    font-size: 1.5rem;
    font-weight: 600;
}

@media(max-width:750px){
    .copyright{
        padding: 1rem;
    }
    .copyright p{
        font-size: 1rem;
    }
}
@media(max-width:500px){
    .copyright p{
        font-size: 0.8rem;
    }
}

/* #cbbc99 Yellow */
/* #312e3c Blue */