.experience{
    width: 30%;
    display: flex;
    flex-flow: column;
    gap: 4rem;
    background-color: #f7f7f7;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem;
    text-align: center;
    color: #312e3c;
    box-shadow: 8px 8px 10px #242424;
}
.experience.express img{
    border-radius: 50%;
}
.experience img{
    width: 200px;
    height: 200px;
}
.experience h2{
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
}
.experience h3{
    font-size: 1.3rem;
    color: #605b73;
    font-family: "high tower text";
    font-weight: 200;
}